@page "/ScannerFacture"


<ul>
    <li>
        <a href="/ModelAnalysis">
            <div class="click">
                <i class="fa fa-file-text-o icon"></i>
                <div class="title">Use a known model for accurate results</div>
                <div class="description">Use trained Form Recognizer models and explore templates to capture text, tables, selection markers, and document structure with improved accuracy.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="/Prebuilt ">
            <div class="click">
                <i class="fa fa-address-card-o icon"></i>
                <div class="title">Use a prebuilt model to obtain data</div>
                <div class="description">Start with a pre-built template to streamline the process of extracting relevant data from your invoices. Submit your data and get quick results.
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="/modeles">
            <div class="click">
                <i class="fa fa-plus icon" aria-hidden="true"></i>
                <div class="title">Create a custom template to train it</div>
                <div class="description">You can create a template that is tailored to your specific invoices, improving the accuracy of data extraction and saving time in the long run.</div>
            </div>
        </a>
    </li>
</ul>

