.row{
    margin-left: -12%;
}
.columns {
    width: auto;
    margin: 0px;
    background: #fff;
    color: #030303;
    text-align: center;
}
.text_icon{
    text-decoration: none;
    font-size: 14px;
    color: #030303;
    font-weight: bold;
}
.icon{
    color: rgb(0, 0, 0);
}
.icon:hover{
    box-shadow: none;
    
}
.facture{
    text-decoration: none;
}