<form>
    <div class="form-group">
        <label class="form-label">Composé</label>
        <input class="form-control" value="false" readonly>
    </div>
    <div class="form-group">
        <label class="form-label">Dernière mise à jour</label>
        <input class="form-control" value="2023-03-21T17:49:54Z" readonly>
    </div>
    <div class="form-group">
        <label class="form-label">Précision moyenne du modèle</label>
        <input class="form-control" value="0.278" readonly>
    </div>
</form>


<style>
.form-label{
margin-bottom: -5px;
color: #024662;
font-weight: 600;
}
.form-control{
color: black;
}
.form-control:focus{
color: black;
box-shadow: 0 0 8px #c0479ac9;
border-color: rgba(0, 0, 0, 0.015);
}
.form-group{
margin-bottom: 15px;
}
</style>
