  nav ul li[b-p402udr356]
{   
 margin:0 20px; 
 font-weight: 600;
 
}
.links[b-p402udr356]{
    margin-left: 10%;
}
i[b-p402udr356]{
    color: #C04799 ;
    font-weight: bold; 
}
a[b-p402udr356]
{
 color: #024662;
}
nav[b-p402udr356]{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.171);   
}
#logo[b-p402udr356]{
    width: 100px;
    height: 35px;
}