ul {
    margin-left: -3%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 8%;
}
li {
    flex: 0.5;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
}
.click:hover .icon {
    color: #C04799;
    box-shadow: none;
}
.click:hover .title {
    color: #C04799;
    box-shadow: none;
}

.title {
    max-width: 12em;
    margin: auto;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
    flex-wrap: wrap;
    font-weight: blod;
    margin-bottom: 5px;
}
.description{
color: grey;
text-align: center;
overflow-wrap: break-word;
width:90%;
margin-left: 5%;
font-size: 15px;
}
.icon{
    color:rgb(0, 0, 0);
    font-size: 4em;
    margin-bottom: -10px;
}
