
<div class="modal-body">
  <p>Do you really want to delete this model?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
  <button type="button" class="btn btn-danger">Delete</button>
</div>