@page "/modeles"

@inject IModalService Modal

<PageTitle>Modèles</PageTitle>


<center><h2>Existing Models</h2></center>

<br>
<center>
    <div class="input-group">
        <input class="form-control" type="search" id="example-search-input" placeholder="Search models...">
    </div>
</center>
<br>
<br>

<a class="btn"  href="http://localhost:3000/projects/create"> Create Model</a>

<div>
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Model ID </th>
                    <th>Statue</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>
                        <button class="action-btn" @onclick="@(()=>Modal.Show<DeleteModele>("Delete Model"))"><span class="bi bi-trash-fill"></span></button>
                        <button class="action-btn" type="button" @onclick="@(()=>Modal.Show<ModelesInfos>("Model Informations"))"><span class="bi bi-info-circle"></span></button>
                    </td>
                </tr>
                <tr>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>DFDMCPZNSPZNXM</td>
                    <td>
                        <button class="action-btn" @onclick="@(()=>Modal.Show<DeleteModele>("Delete Model"))"><span class="bi bi-trash-fill"></span></button>
                        <button class="action-btn" type="button" @onclick="@(()=>Modal.Show<ModelesInfos>("Model Informations"))"><span class="bi bi-info-circle"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
