<form>
    <div class="form-group">
        <label class="form-label">Nom du modèle</label>
        <input class="form-control" value="DFDMCPZNSPZNXM">
    </div>
    <div class="form-group">
        <label class="form-label">ID Modèle</label>
        <input class="form-control" value="DFDMCPZNSPZNXM">
    </div>
    <div class="form-group">
        <label class="form-label">Statue</label>
        <input class="form-control" value="DFDMCPZNSPZNXM">
    </div>
    <div class="form-group">
        <label class="form-label">Date de création</label>
        <input class="form-control" value="DFDMCPZNSPZNXM">
    </div>
    <div class="form-group">
        <label class="form-label">Composé</label>
        <input class="form-control" value="false">
    </div>
    <div class="form-group">
        <label class="form-label">Dernière mise à jour</label>
        <input class="form-control" value="2023-03-21T17:49:54Z">
    </div>
    <div class="form-group">
        <label class="form-label">Précision moyenne du modèle</label>
        <input class="form-control" value="0.278">
    </div>
    <center>
        <button class="Sub">Enregistrer</button>
    </center>
</form>