
<div class="modal-body">
  <p>Voulez-vous vraiment supprimer ce modèle ?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Annuler</button>
  <button type="button" class="btn btn-danger">Supprimer</button>
</div>