@page "/modeles"

@inject IModalService Modal 

<PageTitle>Modèles</PageTitle>


<center><h2>Les modèles existants</h2></center>

<br>
    <center>
            <div class="input-group">
            <input class="form-control" type="search" id="example-search-input" placeholder="Chercher des modèles...">
        </div>
    </center>
<br><br>

<button class="btn">Créer un modèle</button>

    <div>
        <center>
        <table class="table">
            <thead>
              <tr>
                    <th>Nom du modèle</th>
                    <th>ID Modèle </th>
                    <th>Statue</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>
                            <button class="action-btn" @onclick="@(()=>Modal.Show<Delete_modele>("Supprimer modèle"))"><span class="bi bi-trash-fill" ></span></button>
                            <button class="action-btn" type="button" @onclick="@(()=>Modal.Show<Modeles_infos>("Model Infos"))"><span class="bi bi-info-circle" ></span></button>
                        </td>
                    </tr>
                       <tr>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>DFDMCPZNSPZNXM</td>
                        <td>
                            <button class="action-btn" @onclick="@(()=>Modal.Show<Delete_modele>("Supprimer modèle"))"><span class="bi bi-trash-fill" ></span></button>
                            <button class="action-btn" type="button" @onclick="@(()=>Modal.Show<Modeles_infos>("Model Infos"))"><span class="bi bi-info-circle" ></span></button>
                        </td>
                    </tr>
            </tbody>
        </table>
        </center>
    </div>
