.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

    i{
    color: #C04799 ;
    font-weight: bold; 
}

a{
 color: #024662;
}

nav {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.075);
}
.navbar{
    padding: 0rem ;
}

.logo{
    margin-left: 1%;
}

.logo-app {
    width:140px;
    height:1;
    margin-left: 0.5rem;
} 

.hide-show-btn {
    position: absolute;
    background-color: greenyellow;
    height: 36px;
    width: 36px;
    border-bottom-right-radius: 4px;
    padding: 4px;
}

    .hide-show-btn:hover {
        cursor: pointer;
        opacity: 0.9;
    }

.arrow {
    transition: var(--transition-props);
}

    .arrow.reversed {
        transform: rotate(180deg);
        transition: var(--transition-props);
    }

