  nav ul li
{   
 margin:0 20px; 
 font-weight: 600;
 
}
.links{
    margin-left: 10%;
}
i{
    color: #C04799 ;
    font-weight: bold; 
}
a
{
 color: #024662;
}
nav{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.171);   
}
#logo{
    width: 100px;
    height: 35px;
}