@page "/UScanner Facture"
<ul>
    <li class="modele">
        <a href="/ModelAnalysis">
            <div class="click">
                <i class="fa fa-file-text-o icon"></i>
                <div class="title">Utilisez un modèle connu pour avoir des résultats précis</div>
                <div class="description">Essayez de sélectionner un modèle pour extraire le texte, les tableaux, les repères de sélection et la structure de votre document de facon plus précise.</div>
            </div>
        </a>
    </li>
    <li class="pre">
        <a href="/Prebuilt">
            <div class="click">
                <i class="fa fa-address-card-o icon"></i>
                <div class="title">Utiliser un modèle pré-établi pour obtenir des données</div>
                <div class="description">Commencez par un modèle pré-établi pour extraire les données de vos formulaires – Factures. Soumettez vos données et obtenez des résultats immédiatement.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="/Umodeles">
            <div class="click">
                <i class="fa fa-cubes icon" aria-hidden="true"></i>
                <div class="title">Voir les modèles existants</div>
                <div class="description">Essayez de consulter les modèles connus pour avoir une idée génrale sur les types des ractures existants.</div>
            </div>
        </a>
    </li>
</ul>
