@page "/UScannerFacture"
<ul>
    <li>
        <a href="/ModelAnalysis">
            <div class="click">
                <i class="fa fa-file-text-o icon"></i>
                <div class="title">Use a known model for accurate results</div>
                <div class="description">Use trained Form Recognizer models and explore templates to capture text, tables, selection markers, and document structure with improved accuracy.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="/Prebuilt ">
            <div class="click">
                <i class="fa fa-address-card-o icon"></i>
                <div class="title">Use a prebuilt model to obtain data</div>
                <div class="description">Start with a pre-built template to streamline the process of extracting relevant data from your invoices. Submit your data and get quick results.
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="/Umodeles">
            <div class="click">
                <i class="fa fa-cubes icon" aria-hidden="true"></i>
                <div class="title">View existing models</div>
                <div class="description">Try to consult the known templates to get a general idea of the types of existing invoices.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="/UploadedFiles">
            <div class="click">
                <i class="fa fa-files-o icon" aria-hidden="true"></i>
                <div class="title">View Uploaded files</div>
                <div class="description">here you can find all the files uploaded to scan </div>
            </div>
        </a>
    </li>
</ul>
