 <div>
    <p class="paragraph">En cas de problème avec les informations de la facture, remplissez ce formulaire.</p>
        <form>
            <div class="form-group">
                <label class="form-label">doc.DocFieldId</label>
                <input class="form-control" placeholder="Enter doc.DocFieldId" value="doc.DocFieldValue">
            </div>
            
            <center>
                <div class="buttons">
                    <button type="submit" class="Sub btn-primary">Submit</button>
                    <button type="reset" class="res btn-secondary">Cancel</button>
                </div>
            </center>
        </form>
</div>
<style>
    .form-label{
margin-bottom: -5px;
color: #024662;
font-weight: 600;
}
.form-control{
color: black;
}
.form-control:focus{
color: black;
box-shadow: 0 0 8px #c0479ac9;
border-color: rgba(0, 0, 0, 0.015);
}
.form-group{
margin-bottom: 15px;
}
.paragraph{
    color: grey;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: -22px;
}

.Sub{
    margin-top: 10px;
    color: #ffffff;
    width: 130px;
    height: 35px;
    padding: 4px;
    font-weight: 600;
    border: none;
    background-color: #024562e9 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 5px;
} 
.Sub:hover{
    background-color: #024662 ;
} 
.res{
    margin-top: 10px;
    color: #ffffff;
    width: 140px;
    height: 35px;
    padding: 4px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} 
.res{

}
</style>