/* _content/Interface_APP/Pages/index.razor.rz.scp.css */
*[b-ico2ku25x8]{
color: white;
font-family: "Segoe UI";
}
.title[b-ico2ku25x8]{
    text-align: center;
}

h6[b-ico2ku25x8] {
    overflow: hidden;
    text-align: center;
  
  }
  
  h6[b-ico2ku25x8]:before,
  h6[b-ico2ku25x8]:after {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h6[b-ico2ku25x8]:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h6[b-ico2ku25x8]:after {
    left: 0.5em;
    margin-right: -50%;
  }

.icon[b-ico2ku25x8]{
color: white;
}
#wrapper[b-ico2ku25x8] {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper[b-ico2ku25x8] {
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  right: 250px;
  width: 0;
  height: 85%;
  margin-top: 0;
  margin-right: -230px;
  overflow-y: auto;
  background: #024662;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#wrapper[b-ico2ku25x8] {
    padding-right: 250px;
}

#sidebar-wrapper[b-ico2ku25x8] {
    width: 250px;
}
.btn[b-ico2ku25x8]{
    color: white;
}

.preview-image[b-ico2ku25x8] {
  height: 80vh;
  width: 100vh;
}

.image-container[b-ico2ku25x8] {
  display: flex;
  padding: 15px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 2px dashed skyblue;
  width: 70vh;
}
/* _content/Interface_APP/Shared/MainLayout.razor.rz.scp.css */
.page[b-wgsf8n4lxu] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wgsf8n4lxu] {
    flex: 1;
}



.top-row[b-wgsf8n4lxu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wgsf8n4lxu]  a, .top-row .btn-link[b-wgsf8n4lxu] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wgsf8n4lxu] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wgsf8n4lxu] {
        display: none;
    }

    .top-row.auth[b-wgsf8n4lxu] {
        justify-content: space-between;
    }

    .top-row a[b-wgsf8n4lxu], .top-row .btn-link[b-wgsf8n4lxu] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wgsf8n4lxu] {
        flex-direction: row;
    }

    .sidebar[b-wgsf8n4lxu] {
        width: 350px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wgsf8n4lxu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wgsf8n4lxu], article[b-wgsf8n4lxu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Interface_APP/Shared/Navbar.razor.rz.scp.css */
/* .navbar-dark .nav-item .nav-link {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  } */

  .form-white.input-group>.form-control:focus[b-wwwh506jtw] {
    border-color: #fff;
    box-shadow: 0 20px 24px 0 rgba(0,0,0,.2);
  }
  
  .navbar-dark .navbar-nav .nav-link[b-wwwh506jtw] {
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover[b-wwwh506jtw],
  .navbar-dark .navbar-nav .nav-link:focus[b-wwwh506jtw] {
    color: rgba(255, 255, 255, 0.75);
  }
  nav ul li[b-wwwh506jtw]
{
    
 margin:0 20px; 
 font-weight: 600;
}
.links[b-wwwh506jtw]{
    margin-left: 10%;
}
i[b-wwwh506jtw]{
    color: #C04799 ;
    font-weight: bold; 
}
a[b-wwwh506jtw]
{
 color: #024662;
}
nav[b-wwwh506jtw]{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.171);   
}
#logo[b-wwwh506jtw]{
    width: 100px;
    height: 35px;
   
}
/* _content/Interface_APP/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1epge5q84s] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1epge5q84s] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1epge5q84s] {
    font-size: 1.1rem;
}

.oi[b-1epge5q84s] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1epge5q84s] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1epge5q84s] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1epge5q84s] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1epge5q84s]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-1epge5q84s]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1epge5q84s]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1epge5q84s] {
        display: none;
    }

    .collapse[b-1epge5q84s] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-1epge5q84s] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

*[b-1epge5q84s]{
    color: white;
    font-family: "Segoe UI";
    }
.title[b-1epge5q84s]{
    text-align: center;
}

h6[b-1epge5q84s] {
overflow: hidden;
text-align: center;
color: #024662;

}



h6[b-1epge5q84s]:before {
right: 0.5em;
margin-left: -50%;
}

h6[b-1epge5q84s]:after {
left: 0.5em;
margin-right: -50%;
}

.icon[b-1epge5q84s]{
color: #ffffff;
}
#wrapper[b-1epge5q84s] {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper[b-1epge5q84s] {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 120%;
    margin-top: -18px;
    margin-right: -250px;
    overflow-y: auto;
    background: #0a0a0a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper[b-1epge5q84s] {
    padding-right: 250px;
}

#sidebar-wrapper[b-1epge5q84s] {
    width: 350px;
}
.btn[b-1epge5q84s]{
    margin-top: 10px;
    color: #ffffff;
    width: 140px;
    height: 35px;
    padding: 0;
    font-weight: 600;
    background-color: #C04799 ;
    border: none;
}
.btn:hover[b-1epge5q84s]{
    margin-top: 10px;
    color: #ffffff;
    width: 140px;
    height: 35px;
    padding: 0;
    font-weight: 600;
    background-color: #024662 ;
    border: none;
}
.sidebar-nav[b-1epge5q84s]{
    margin-top: 50%;
}

.parent-div[b-1epge5q84s] {
  
    padding-left: 0px;
  }

  .btn-upload[b-1epge5q84s] {
    background-color: #000000;
    border: 3px solid #000000;
    color: #000000;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
  } 
